@import "../../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@media screen and (max-width: 1490px){
  h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1205px){
  h1 {
    font-size: 1.5rem;
  }
  table {
    td {
      font-size: 0.9em;
    }
  }
}
//Body
body {
  font-family: Poppins, sans-serif;
  background-color: black;
  height: 100vh;
}
//navbar
.navbar {
  .active {
    //padding-bottom: 1px;
    border: solid 2px white;
    cursor: default;
    &:hover {
      border-bottom: solid 2px white;
    }
  }
  a {
    color: black;
    border: solid 2px transparent;
    border-radius: 10px;
    &:hover {
      border: solid 2px white;
    }
  }
  .navbar-brand {
    &:hover {
      background-color: initial;
      border: solid 2px transparent;
    }
  }
}
//menu.html
.list-group {
  .list-group-item {
  }
  .active {
    background-color: white !important;
    color: #121e2a !important;
  }
}
.img_menu {
  aspect-ratio: 5/5;
  width: 20%;
}
//Restaurant.html
#myTab {
  li {
    .active {
      color: black !important;
    }
  }
}
iframe {
  height: 43vh !important;
}
//picture.html
@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}
.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}